body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    background-color: rgb(96, 96, 96);
}
.container {
    display: flex;
    position: relative;
}
#password {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    min-width: 500px;
    box-shadow: 0 0 10px rgb(179, 179, 179);
    font-size: 1.2rem;
}
#eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
}